<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <title>Coursework 1 - Basket</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div id="content">

    <div id="lessons">
      <div class="card" v-for="(lesson, index) in lessons">

        <div class="product-info">
          <div class="details">
            <h4>Subject: {{ lesson.subject }}</h4>
            <h4>Location: {{ lesson.location }}</h4>
            <h4>Price: {{ lesson.price }}</h4>
            <h4>Spaces: {{ lesson.spaces }}</h4>
          </div>
          <img :src="'assets/' + lesson.image" />
          <div class="treat-wrapper">
            <button class="btn draw-border" :id="'remove_' + index" v-on:click="remove(index)">Remove</button>
          </div>
        </div>

      </div>
    </div>

    <div class="button_div">
      <button class="btn draw-border" id="back_button" v-on:click="gotoPage('index.html')">Back</button>
    </div>

    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" v-model="name" v-on:keypress="isLetter($event)">
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" v-model="phone" v-on:keypress="isNumber($event)">
      <button class="btn draw-border" id="checkout_button" v-if="name && phone"
        v-on:click="showMessage()">Checkout</button>

      <p style="font-weight: 800;font-size: large;">{{ message }}</p>
    </div>

  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="module">
  new Vue({
    el: '#content',
    data() {
      return {
        lessons: JSON.parse(localStorage.getItem('lessons')),
        name: '',
        phone: '',
        message: ''
      }
    },
    methods: {
      remove(index) {
        this.lessons.splice(index, 1);
      },
      gotoPage(url) {
        //localStorage.removeItem('lessons');
        window.location.href = url;
      },
      isLetter(e) {
        let char = String.fromCharCode(e.keyCode); // Get the character
        if (/^[A-Za-z]+$/.test(char)) return true; // Match with regex 
        else e.preventDefault(); // If not match, don't add to input text
      },
      isNumber(e) {
        let char = String.fromCharCode(e.keyCode);
        if (/^[0-9]+$/.test(char)) return true;
        else e.preventDefault();
      },
      showMessage() {
        this.message = "Your order has been submitted";
      }
    }
  });

</script>

</html>